@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$color-light-green: #95CC5B ;
$color-dark-green: #599917 ;
$color-yellow: #FFF88C ;
$color-white: #CFCCFF ;
$color-blue: #5B73CC ;
$color-black: #000;