@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif:400i');
$color-light-green: #95CC5B;
$color-dark-green: #599917;
$color-yellow: #FFF88C;
$color-white: #fff;
$color-black: #000;