nav {
  li {
    display: inline-block;
    margin: 1em;
    text-decoration: none;
    a {
      padding: .5em .8em;
      background-color: #fef;
      color: #000;
      transition: background-color .3s;
    }
    a:hover {
      background-color: rgb(235, 100, 100);
    }
  }
}